  <div class="container">
   <div class="card card-container">
      <h2 style="text-align: center;
         margin-bottom: 10px;
         padding: 10px;">Register</h2>
       <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
       <img id="profile-img" class="profile-img-card" src="../../assets/pictures/icons8-register-64.png" />
       <p id="profile-name" class="profile-name-card"></p>
       <form class="form-signin">
           <span id="reauth-email" class="reauth-email"></span>
           <input type="text" name="name" id="inputName" [(ngModel)]="newUser.name" class="form-control" placeholder="Full Name" required autofocus>
           <input type="email" name="email" id="inputEmail" class="form-control" [(ngModel)]="newUser.email" placeholder="Email address" required >
           <input type="password" name="password" id="inputPassword" class="form-control"[(ngModel)]="newUser.password" placeholder="Password" required>
           <div id="remember" class="checkbox">
            <label>
                <input type="checkbox" value="agreed-to-everything"> Agree to everything?
            </label>
        </div>
           <button (click)="registerUser()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
       </form><!-- /form -->
       
   </div><!-- /card-container -->
</div><!-- /container -->